body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  margin: 0;
  padding: 20px;
  background-image: url(final_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Baloo Bhai 2", sans-serif;
}
button {
  font-family: "Baloo Bhai 2", sans-serif;
}
input {
  font-family: "Baloo Bhai 2", sans-serif;
}

.container {
  max-width: 450px;
  margin: auto;
  background: transparent;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  text-align: center;
  color: #000000;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"],
input[type="time"] {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  background-color: #27ae60;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #219150;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #eaf2f8;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
